.countdown {
    max-width: 50%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.running_unicorn {
    width: 55%; 
    height: auto;
    margin-bottom: -0.3em;
  }

.countdown .header {
    
    padding: 0.1rem;
    background: rgba(26, 83, 92, 0.74);
    
    font-size: 0.1em;
    color: #FFFFFF;

   font-weight: 500;
    

    width: 55%;
        
        border: 1px solid #ffffff;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        
        letter-spacing: 0.1em;
}

.countdown .content {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background: rgba(26, 83, 92, 0.74);
    
    
    
    
   
    


    border: 1px solid #4ECDC4;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding: 0.1rem;
        gap: 0px;
}

.countdown .box {
    flex: 1; 
    text-align: center;
    margin: 0 3px;
}

.countdown .value {
    font-size: 0.3em;
    color: #FFFFFF;
    font-family: 'alarm clock', sans-serif;
    margin-bottom: -0.2em;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.countdown .value.changed {
    animation: flip 0.6s ease; /* Add flip animation for changed values */
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

.countdown .label {
    font-size: 0.2em;
    color: #FFFFFF;
    font-family: 'alarm clock', sans-serif;
}

/* Responsive adjustments */
@media (min-width: 376px) {
    .countdown {
        max-width: 40%;
        padding: 0rem 0.2rem;
    }

    .countdown .header {
        width: 50%;
        padding: 0.1rem;
        border: 1px solid #ffffff;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 0.4em;
        letter-spacing: 0.1em;
        font-weight: 500;
    }

    .countdown .content {
        border: 1px solid #4ECDC4;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding: 0rem 0rem;
        gap: 0px;
    }

    .countdown .value {
        font-size: 1em;
    }

    .countdown .label {
        font-size: 0.8em;
    }
} 

/* Responsive adjustments */
@media (min-width: 768px) {
    .countdown {
        max-width: 50%;
        padding: 1rem ;
    }

    .countdown .header {
        width: 50%;
        padding: 0.1rem;
        border: 1px solid #ffffff;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 0.4em;
        letter-spacing: 0.1em;
        font-weight: 500;
    }

    .countdown .content {
        border: 1px solid #4ECDC4;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding: 0rem 0rem;
        gap: 0px;
    }

    .countdown .value {
        font-size: 1.9em;
    }

    .countdown .label {
        font-size: 1.2em;
    }
} 


/* Responsive adjustments */
@media (min-width: 1000px) {
    .countdown {
        max-width: 50%;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .countdown .header {
        width: 50%;
    padding: 0.4rem;
    background: rgba(26, 83, 92, 0.74);
    border: 3px solid #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1.2em;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    }

    .countdown .content {
        display: flex;
    justify-content: space-around; 
    align-items: center; 
    background: rgba(26, 83, 92, 0.74);
    border: 3px solid #4ECDC4;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 0.6rem 4rem;
    gap: 60px;
    }

    .countdown .value {
        font-size: 6em;
        color: #FFFFFF;
        font-family: 'alarm clock', sans-serif;
        margin-bottom: -0.2em;
        transition: transform 0.3s ease; /* Add transition for smooth animation */
    }

    .countdown .label {
        font-size: 2.5em;
    }
} 

